
.table {
	td {padding-bottom: 0.25em;}
	.title {
		width: 20%;
		min-width: 120px;
		padding-left: 1em;
		font-weight: bold;
	}
	.content {
		input {
			max-width: 200px;
		}
		input[name="email"] {
			max-width: 600px;
		}
		.valid {
			padding-top: 0.25em; color: #af0202;
		}
	}
}