html, body {
  color: #222;
  font-size: 16px;
}

ul, li, p, div, form, h1, h2, h3, h4, h5, header, footer, section, aside, article, nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:link, a:visited, a:active, a:hover {
  color: inherit;
}

header.header-wrapper {
  user-select: none;
  background-color: #222;
  display: flex;
  color: #fae9ce;
  align-items: center;
  justify-content: space-between;
}
header.header-wrapper .logo {
  padding: 1em;
}
header.header-wrapper .navi-wrapper {
  display: flex;
  align-items: center;
}
header.header-wrapper .navi-wrapper .navi {
  padding: 1em;
}

.title-bar {
  margin: 1em auto;
}
.title-bar small {
  color: #999;
  margin-left: 1em;
}