.list-table th:nth-child(1) {
  width: 10%;
  min-width: 60px;
}
.list-table th:nth-child(2) {
  width: 20%;
  min-width: 120px;
}
.list-table th:nth-child(3) {
  width: 12%;
  min-width: 100px;
}
.list-table th:nth-child(4) {
  width: 12%;
  min-width: 120px;
}
.list-table th:nth-child(6) {
  width: 10%;
  min-width: 70px;
}
@media screen and (max-width: 767px) {
  .list-table th:nth-child(1), .list-table th:nth-child(3), .list-table th:nth-child(4) {
    display: none;
  }
  .list-table td:nth-child(1), .list-table td:nth-child(3), .list-table td:nth-child(4) {
    display: none;
  }
}
.list-table span.icon {
  display: inline-block;
  font-size: 0.75em;
  padding: 0 0.5em;
  background-color: #06337a;
  color: #fae9ce;
  border-radius: 4px;
  margin-left: 12px;
}