.table td {
  padding-bottom: 0.25em;
}
.table .title {
  width: 20%;
  min-width: 120px;
  padding-left: 1em;
  font-weight: bold;
}
.table .content input {
  max-width: 200px;
}
.table .content input[name=email] {
  max-width: 600px;
}
.table .content .valid {
  padding-top: 0.25em;
  color: #af0202;
}
.table .content .valid.active {
  color: #023085;
}