.navi-wrapper
	.navi
		a(href="/") HOME
	if file == 'book-list'
		.navi.active
			a(href="/book/list") BOOK List
	else
		.navi
			a(href="/book/list") BOOK List
	if file == 'book-write'
		.navi.active
			a(href="/book/write") BOOK Write
	else
		.navi
			a(href="/book/write") BOOK Write
	.divide
	if !user
		if file == 'user-join'
			.navi.active
				a(href="/user/join") Join
		else
			.navi
				a(href="/user/join") Join
	if !user
		if file == 'user-login'
			.navi.active
				a(href="/user/login") Login
		else
			.navi
				a(href="/user/login") Login
	if user
		.navi
			a(href="/user/logout") Logout