.pagination.justify-content-center.my-5
	.page-item
		a.page-link(href=`#`)
			i.fa.fa-first-order
	.page-item
		a.page-link(href=`#`)
			i.fa.fa-angle-double-left
	.page-item
		a.page-link(href=`#`)
			i.fa.fa-angle-left
	.page-item
		a.page-link(href=`#`) 1
	.page-item
		a.page-link(href=`#`) 2
	.page-item
		a.page-link(href=`#`) 3
	.page-item
		a.page-link(href=`#`)
			i.fa.fa-angle-right
	.page-item
		a.page-link(href=`#`)
			i.fa.fa-angle-double-right
	.page-item
		a.page-link(href=`#`)
			i.fa.fa-lastfm-square