extends ../layout/lo-default.pug
block content
	table.table.table-hover.text-center
		thead.thead-dark
			tr
				th 번호
				th 제목
				th 저자
				th 발행일
				th 내용
		tbody
			tr
				td 1
				td.text-left 홍길동전
				td 홍길동
				td 1450-01-11
				td.text-left 아버지를 아버지라...