doctype html
html(lang="ko")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		include ../include/inc-style.pug
		link(rel="stylesheet" href=`/css/${file ? file : 'index'}.css`)
		include ../include/inc-script.pug
	body
		header.header-wrapper
			.logo LOGO
			include ../include/inc-nav.pug
		.container
			include ../include/inc-titlebar.pug
			block content
		script(src=`/js/${file ? file : 'index'}.js`)
